body {
    margin: 0;
    background: #0d0f14;
    overflow: hidden;
}

#chart {
    position: absolute;
    left: 50px;
    top: 0;
    width: calc(100vw - 50px);
    height: 100vh;
}

#drawCanvas {
    position: absolute;
    left: 50px;
    top: 0;
    width: calc(100vw - 50px);
    height: 100vh;
    z-index: 4;
}

#toolbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100vh;
    background: #14161d;
    border-right: 1px solid #1f222a;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
    z-index: 10;
}

.tool {
    width: 40px;
    height: 40px;
    background: #1d1f27;
    margin: auto;
    border-radius: 6px;
    display: flex;
    align-items:center;
    justify-content:center;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #2a2d36;
}

.tool:hover {
    background: #2a2d36;
}

.tool.active {
    background: #4ba3ff;
}
